<footer>
  <div class="container-fluid  text-white lead">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center p-4">
        <h2>LOCATION </h2>
        <p>2215 John Daniel Drive </p>
        <p>Clark, MO 65243 </p>
      </div>
      <div class="col-lg-4 col-md-6 text-center p-4">
        <h2>AROUND THE WEB </h2>
        <ul class="d-flex list-unstyled justify-content-center">
          <li>
          <a href="#"><i class="fa-brands  fa-facebook w-fixed-radius-25 rounded-circle text-white-50 m-2"></i></a>
          </li>
          <li>
          <a href="#"><i class="fa-brands fa-twitter w-fixed-radius-25 rounded-circle text-white-50 m-2"></i></a>
          </li>
          <li>
          <a href="#"><i class="fa-brands fa-linkedin w-fixed-radius-25 rounded-circle text-white-50 m-2"></i></a>
          </li>
          <li>
          <a href="#"><i _ngcontent-jyx-c21="" class="fa-solid fa-globe mx-1 icon w-fixed-radius-25 rounded-circle text-white-50 m-2"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 text-center p-4">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
      <div class="col-12 text-center bg-dark bg-opacity-75">
        <p class="text-white pt-2">Copyright © Your Website 2021</p>
      </div>
    </div>
  </div>
</footer>
