<section>
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center ">
      <h1 class="text-uppercase fs-2 text-white fw-bold">about component</h1>
      <app-lines></app-lines>
      <div class="row">
        <div class="col-lg-6 text-white-50">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-lg-6 text-white-50">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
  </div>
</section>
