
.icon::before {
  content: "";
  width: 80px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(100%);
}
.icon::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(-100%);
}

.color-icon{
  color: rgba(127, 255, 212, 0.445)
}
